@{
    ViewData["Title"] = "Home";
}

<section id="promotions">
    <div class="photoContainer">

    </div>
</section>


<section id="collections">
    <div class="photoContainer">

    </div>
</section>

<section id="products">
    <div class="photoContainer">

    </div>
</section>

